/* Search bar section */
#searchBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh; 
    background-color: #6d6d6d;
    border-bottom: 2px solid #030303;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* Center button search */
#searchBarContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; 
}

/* Text button style */
#externalLinkButton {
    padding: 6px;
    margin-right: 6px; 
    height: 4vh;
    border: none;
    background-color: #0012b3; 
    color: #ffffff; 
    font-size: 1.6vh; 
    border-radius: 6px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#externalLinkButton:hover {
    background-color: #014b9b; 
}


#urlInput {
    padding: 3px; 
    width: 140px;
    height: 4vh; 
    border: 3px solid rgb(63, 65, 66);
    outline: none;
    color: rgb(196, 196, 196);
    background-color: #25252a;
    font-size: 2vh; 
    border-radius: 50px;
    text-align: center;
}


#searchButton {
    padding: 6px; 
    margin-left: 6px;
    width: 10vw; 
    height: 4vh; 
    border: 3px solid rgba; 
    background-color: rgba(0, 0, 0, 0); 
    color: #ffffff; 
    font-size: 1.6vh; 
    border-radius: 9px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}

#searchButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

#urlInput:hover{
    background-color: #39393a;
    color: #030303;
    padding: 2px;
    width: 200px; 
    color: rgb(196, 196, 196);
    border-radius: 81px;
    transition: all .3s ease;
    text-align: center;
}

#searchButton:hover{
    padding: 9px; 
    background-color: #a7a5a5
}


/* The iframe the search bar */
.iframeWindow {
    position: absolute;
    top: 6vh; 
    left: 0;
    width: 100vw;
    height: 94vh; 
    border: none; 
    padding: 0;
    margin: 0;
    display: block;
}

/* Ensure body has no padding or margins */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}
