/* Search bar section fixed at the top */
#searchBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh; /* Adjust the height as needed */
    background-color: #f8f8f8;
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#urlInput {
    padding: 10px;
    width: 40vw;
    height: 6vh;
    border: 3px solid aliceblue;
    outline: none;
    color: aliceblue;
    background-color: #25252a;
    font-size: 2vh;
    border-radius: 10px;
}

/* The iframe positioned below the search bar */
.iframeWindow {
    position: absolute;
    top: 10vh; /* Start just below the search bar */
    left: 0;
    width: 100vw;
    height: 90vh; /* Take the remaining height */
    border: none; /* Remove the iframe's border */
    padding: 0;
    margin: 0;
    display: block;
}

/* Ensure body has no padding or margins to avoid white spaces */
html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}
