.iframeWindow {
    position: absolute;
    width: 80vw; 
    height: 80vh; 
    border: 0;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 15px; 
}

#urlInput {
    position: absolute;
    padding: 10px;
    padding-left: 0.5em;
    margin: auto;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    width: 50vw; 
    height: 10vh;
    border: 3px solid aliceblue;
    outline: 0;
    color: aliceblue;
    background-color: #25252a;
    font-size: 5vh;
    border-radius: 15px; 
}

#searchButton {
    position: absolute;
    margin: auto;
    right: 50%;
    top: 30%;
    transform: translateX(50%);
    width: 50vw; 
    height: 10vh;
    border: 3px solid #ff0000;
    outline: 0;
    color: #ff0000;
    background-color: rgb(0, 0, 0);
    font-size: 5vh;
    border-radius: 15px; 
}
